@font-face
{
	font-family: 'KH WHISKEY BLOCK';
	src: url('./fonts/webfont-1.eot');
	src: url('./fonts/webfont-1.eot?#iefix') format('embedded-opentype'),
		url('./fonts/webfont-1.woff2') format('woff2'),
		url('./fonts/webfont-1.woff') format('woff'),
		url('./fonts/webfont-1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'League Gothic';
	src: url('./fonts/webfont-2.eot');
	src: url('./fonts/webfont-2.eot?#iefix') format('embedded-opentype'),
		url('./fonts/webfont-2.woff2') format('woff2'),
		url('./fonts/webfont-2.woff') format('woff'),
		url('./fonts/webfont-2.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, button
{
	margin: 0 auto;
	max-width: 1440px;
	background: #ddd3bc;
	padding: 75px 50px;
	font-family: "KH WHISKEY BLOCK", sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 0.05em;
}

::-moz-selection
{
	background: #c4534e;
}

::selection
{
	background: #c4534e;
}

header
{
	border-bottom: 1px solid #000;
	background: #ddd3bc;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 50px;
	z-index: 99;
}

nav
{
	float: right;
	width: 70%;
	text-align: right;
}

nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li
{
	display: inline-block;
	padding-left: 35px;
}

nav a, button
{
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	line-height: 70px;
}

nav a:hover, button
{
	border-color: #000;
}

h1, h2, h3
{
	font-family: "League Gothic", serif;
	font-size: 5.6rem;
	margin: 10px 0;
	line-height: 1;
	font-weight: normal;
	-webkit-text-stroke: 2px #000;
	text-stroke: 2px #000;
}

h2
{
	font-size: 4rem;
}

h3
{
	font-size: 2.6rem;
	-webkit-text-stroke: 0px;
	text-stroke: 0px;
}

h6
{
	font-size: 0.875rem;
	font-weight: normal;
	margin: 10px 0 20px;
}

section
{
	margin: 50px 0;
	position: relative;
}

.outlined
{
	color: rgba(221, 211, 188, 0.4);
	font-weight: normal;
}

.hero .outlined
{
	color: rgba(221, 211, 188, 0.4);
	font-weight: normal;
	max-width: 560px;
	margin: -10px 0;
	white-space: nowrap;
}

.hero .outlined::before
{
	content: "";
	height: 8px;
	border: 2px solid #000;
	background: rgba(221, 211, 188, 0.4);
	width: 260px;
	margin: 0px 15px 24px 0;
	display: inline-block;
}

.cta
{
	color: #ebe5d8;
	text-decoration: none;
	display: block;
	padding: 15px 0px;
	background: #c4534e;
	border: 1px solid #000;
	margin: 70px auto;
	font-size: 1.1rem;
	text-align: center;
	width: 100%;
}

.cta:hover
{
	color: #fff;
	-webkit-box-shadow: inset 0 0 0 3px #ded3bc;
	        box-shadow: inset 0 0 0 3px #ded3bc;
}

#hero-text
{
	width: 560px;
	margin-top: 100px;
}

#hero-text h6, #hero-text h1
{
	text-shadow: 0 0 20px #ddd3bc;
}

#hero-img
{
	position: absolute;
	top: -70px;
	right: 50px;
	z-index: -99;
	border: 1px solid #000;
}

#scroll-prompt
{
	display: block;
	border: solid 1px #000;
	font-size: 0.7rem;
	width: 100px;
	padding: 10px;
	padding-bottom: 0;
	margin: auto;
	border-bottom-color: #ddd3bc;
	position: relative;
	background: #ddd3bc;
	text-align: center;
	letter-spacing: 0.25em;
}

.tr
{
	width: 120px;
	padding-bottom: 84.8528137px; /* = width / sqrt(2) */
	position: relative;
	border-bottom: 1px solid #000;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	overflow: hidden;
	-webkit-transform: scaleY(-1) scaleX(1.5);
	    -ms-transform: scaleY(-1) scaleX(1.5);
	        transform: scaleY(-1) scaleX(1.5);
	margin: -2px auto;
	z-index: -9;
}

.tr:before
{
	content: '';
	position: absolute;
	bottom: 0; left: 0;
	width: 100%; height: 100%;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	transform-origin: 0 100%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #ddd3bc;
}

.center
{
	text-align: center;
	margin: 100px auto;
	max-width: 90ch;
	position: relative;
}

.cta.secondary
{
	width: 200px;
	color: #000;
	background: transparent;
}

.cta.secondary:hover
{
	color: #ebe5d8;
	background: #c4534e;
}

p
{
	font-size: 0.875rem;
	line-height: 1.5;
}

p a
{
	color: #c4534e;
	text-decoration: none;
}

p a:hover
{
	text-decoration: underline;
}

u
{
	display: inline-block;
	-webkit-box-shadow: inset 0 -10px 0 0 rgba(196, 83, 78, 0.8);
	        box-shadow: inset 0 -10px 0 0 rgba(196, 83, 78, 0.8);
	text-decoration: none;
}

.grid-2
{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 50% 20px auto;
	grid-template-columns: 50% auto;
	margin: 70px auto;
	text-align: right;
	gap: 20px;
}

.grid-2 ul
{
	font-size: 0.875rem;
	line-height: 1.8;
	margin: 0;
	text-align: left;
}

.grid-2 a.learn-more
{
	margin: 0;
	float: right;
}

.grid-4
{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 5px 1fr 5px 1fr 5px 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 5px;
	margin: 20px 0;
}

.grid-4 a, .learn-more
{
	padding: 15px 30px;
	border: 1px solid #000;
	display: block;
	color: #000;
	text-decoration: none;
}

.learn-more
{
	padding: 5px 0;
	width: 110px;
	text-align: center;
	border-width: 2px;
	margin: 30px 0 10px;
}

.grid-4 > a:hover, .learn-more:hover
{
	background: #ebe5d8;
}

.grid-4 svg
{
	margin-bottom: 15px;
}

#services svg
{
	fill: #c4534e;
}

#services p
{
	min-height: 6em;
}

.service-img
{
	width: 100%;
	mix-blend-mode: darken;
	margin: 13px 0;
}

#contact
{
	border: 1px solid #000;
	text-align: center;
	padding: 50px 0 0;
	-webkit-box-shadow: inset 0 0 0 10px #c4534e;
	        box-shadow: inset 0 0 0 10px #c4534e;
	max-width: 750px;
	margin: auto;
}

/*
#badge
{
	background-image: url(badge@3x.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	transform: rotate(15deg);
	position: absolute;
	right: 100px;
	top: -70px;
}
*/

blockquote
{
	font-family: "League Gothic";
	font-size: 2rem;
}

.gallery
{
	text-align: center;
	margin: 50px 0;
}

.gallery img
{
	height: 300px;
	max-width: 100%;
	-o-object-fit: contain;
	   object-fit: contain;
	margin: 10px;
	mix-blend-mode: darken;
}

img.centered
{
	max-width: 600px;
	margin: 50px auto;
	display: block;
	mix-blend-mode: darken;
}

h1 + img.centered
{
	margin-top: 30px;
}

.full-width
{
	margin: 100px -50px 50px;
}

.full-width img
{
	width: 100%;
	height: 300px;
	-o-object-fit: cover;
	   object-fit: cover;
	mix-blend-mode: darken;
}

nav#mobile
{
	display: none;
}

button
{
	background: transparent;
	border: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
	padding: 0;
	outline: none;
}

#contact p
{
	font-size: 2rem;
	margin: 20px 0 70px;
}

@media screen and (max-width: 1300px)
{
	#hero-img
	{
		right: 0;
	}
	
	#hero-img img
	{
		opacity: 0.85;
	}
}

@media screen and (max-width: 1130px)
{
	.grid-4
	{
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 965px)
{
	#hero-img img
	{
		-o-object-fit: cover;
		   object-fit: cover;
		width: 400px;
		height: 600px;
	}
}

@media screen and (max-width: 740px)
{
	#hero-text
	{
		width: 100%;
	}
	
	.hero .outlined::before
	{
		display: none;
	}
	
	.hero .outlined
	{
		margin: -10px 0;
		text-align: right;
	}
	
	#badge
	{
		right: 70px;
	}
	
	.grid-4
	{
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
	
	.grid-2
	{
		-ms-grid-columns: auto auto;
		grid-template-columns: auto auto;
	}
	
	nav
	{
		display: none;
	}
	
	nav#mobile
	{
		display: block;
		position: fixed;
		top: 0;
		right: 50px;
		width: 150px;
		text-align: right;
	}
	
	nav#mobile button:focus
	{
		border-radius: 100%;
		-webkit-box-shadow: 0 0 0 2px #c4534e;
		        box-shadow: 0 0 0 2px #c4534e;
		width: 72px;
		-webkit-transform: translateX(18px);
		    -ms-transform: translateX(18px);
		        transform: translateX(18px);
		text-align: center;
	}

	nav#mobile ul
	{
		background: #ddd3bc;
		border: 1px solid #000;
		line-height: 1;
		margin: 0;
		padding: 20px;
		text-align: left;
		display: none;
	}
	
	nav#mobile.show ul
	{
		display: block;
	}
	
	nav#mobile li, nav#mobile a
	{
		margin: 0;
		line-height: 4;
		padding: 0;
	}
	
	.cta
	{
		margin: 50px auto 30px;
	}
	
	#contact p
	{
		font-size: 6vw;
	}
}

@media screen and (max-width: 575px)
{
	#hero-img
	{
		top: -70px;
		left: -20px;
		right: -20px;
/*		opacity: 0.9;*/
	}
	
	#hero-img img
	{
		width: 100%;
		height: 600px;
	}
	
	#hero-text
	{
		margin-top: 0;
	}
	
	body
	{
		padding: 75px 20px;
	}
	
	header
	{
		padding: 0 20px;
	}
	
	.full-width
	{
		margin: 100px -20px;
	}
	
	.grid-2
	{
		gap: 0px;
	}
	
	.grid-4 a
	{
		width: 100%;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}
	
	#contact
	{
		width: 100%;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}
}